.back-col {
    color: #01426A;
    width: auto;
    padding-top: 15px;
    padding-right: 10px;
}

.no-opacity {
    opacity: 0;
}

.table-container {
    min-width: 100%;
    overflow-y: auto;
}

.poke-icon {
    width: 20px; 
    height: 20px;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
    cursor: pointer;
}

.paginator {
    border-top: 1px #e7e7e7 solid;
}