<div>
    <div class="row">
        <div class="col-1 back-col">
            <mat-icon class="pointer" (click)="goTohome()">arrow_back_ios</mat-icon>
        </div>
        <div class="col-11">
            <div class="row title">
                Lista de perfiles creados
            </div>
            <div class="row subtitle">
                Selecciona un perfil para ver más detalles.
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngIf="dataSource == undefined" class="center">
            <mat-spinner></mat-spinner>
        </div>
        <div [ngClass]="{'no-opacity': dataSource == undefined}">
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Buscar perfil</mat-label>
                    <input matInput (keyup)="applyFilter($event)" #input>
                </mat-form-field>
            </div>
            <div class="mat-elevation-z8 table-container">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <mat-icon aria-hidden="false" fontIcon="delete_outline" class="pointer" 
                            (click)="openDialog('¿Deseas eliminar definitivamente al usuario ' + element.name + '?', element)"></mat-icon>
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> 
                            <img src="./assets/pokeball.png" alt="Pokeball" class="poke-icon">
                            Nombre 
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="age">
                        <th mat-header-cell *matHeaderCellDef> 
                            <img src="./assets/pokeball.png" alt="Pokeball" class="poke-icon">
                            Edad 
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.years}} &nbsp;años </td>
                    </ng-container>
            
                    <ng-container matColumnDef="hobbie">
                        <th mat-header-cell *matHeaderCellDef>
                            <img src="./assets/pokeball.png" alt="Pokeball" class="poke-icon">
                            Pasatiempo 
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.hobbie}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="dui">
                        <th mat-header-cell *matHeaderCellDef> 
                            <img src="./assets/pokeball.png" alt="Pokeball" class="poke-icon">
                            DUI 
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.document}} </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No existen coincidencias para la búsqueda "{{input.value}}"</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons class="paginator"></mat-paginator>
            </div>
        </div>
    </div>
</div>