.header {
    padding-left: 90px;
    height: 9vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.content {
    max-height: 91vh;
    padding: 5% 8% 8% 8%;
    overflow-y: auto;
}

.pokemon-logo {
    height: 90%; 
    width: auto;
}

@media(max-width: 700px) {
    .header {
        padding-left: 0;
        justify-content: center;
    }
}